.cardContainer {
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 10px black;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    min-width: 340px;
    padding: 16px 32px 0 16px;
    text-align: right;
    width: 500px;
}